body {
  margin: 0;
  font-family: "Ubuntu", "Cantarell", sans-serif;
  background: #141e30;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
